@font-face {
  font-weight: normal;
  font-family: "PT Sans Narrow";
  font-style: normal;
  src: url(../fonts/PTSansNarrow.woff2) format("woff2"), url(../fonts/PTSansNarrow.woff) format("woff");
}
@font-face {
  font-weight: bold;
  font-family: "PT Sans Narrow";
  font-style: normal;
  src: url(../fonts/PTSansNarrowBold.woff2) format("woff2"), url(../fonts/PTSansNarrowBold.woff) format("woff");
}
body {
  min-width: 320px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 27px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #ffffff;
  background-color: #242424;
}
img {
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  min-height: 50px;
  padding: 11px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  border: 1px solid #e5ddd5;
}
.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-header__logo {
  width: 100%;
  height: 85px;
}
.page-header__main-nav {
  width: 100%;
}
@media (min-width: 768px) {
  .page-header {
    min-height: 470px;
    background-color: #000000;
    background-image: url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
  }
  .inner-page .page-header {
    min-height: 285px;
    background-image: url(../img/lightgray-corner.svg), url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-position: bottom, top;
    background-size: 100% 35px, cover;
  }
  .page-header__logo {
    order: 1;
    width: 370px;
    height: 101px;
  }
  .page-header__main-nav {
    margin-bottom: 39px;
  }
}
@media (min-width: 768px) and (min-resolution: 1.5dppx) {
  .page-header {
    background-image: url(../img/header-bg@2x.jpg);
  }
}
@media (min-width: 1200px) {
  .page-header {
    min-height: 720px;
  }
  .inner-page .page-header {
    min-height: 379px;
    background-size: 100% 69px, cover;
  }
  .page-header__logo {
    height: 153px;
  }
  .page-header__main-nav {
    margin-bottom: 57px;
  }
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.logo img {
  width: 226px;
  height: 30px;
}
@media (min-width: 768px) {
  .logo img {
    width: 100%;
    height: auto;
  }
}
.main-nav {
  position: relative;
  min-height: 50px;
}
@media (max-width: 767px) {
  .main-nav__button {
    padding: 0;
    background: none;
    border: none;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 70px;
    min-height: 50px;
    background-color: #6a4d38;
  }
  .main-nav__button::after {
    content: "";
    background-repeat: no-repeat;
    background-position: center;
  }
  .main-nav__button:active::after {
    opacity: 0.3;
  }
  .main-nav__button--open {
    right: 0;
  }
  .main-nav__button--open::after {
    width: 36px;
    height: 20px;
    background-image: url(../img/nav-open-icon.svg);
  }
  .main-nav__button--close {
    left: 0;
  }
  .main-nav__button--close::after {
    width: 26px;
    height: 25px;
    background-image: url(../img/nav-close-icon.svg);
  }
  .main-nav--closed .main-nav__button--open,
  .main-nav--opened .main-nav__button--close {
    display: flex;
  }
  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    left: 70px;
    z-index: 2;
    box-sizing: border-box;
    width: calc(100% - 70px);
    min-height: calc(100vh - 84px);
    background-color: #6a4d38;
  }
  .main-nav--opened .main-nav__wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 7px;
    height: 100%;
    box-shadow: inset 4px 0 7px -2px rgba(0, 0, 0, 0.4);
  }
}
@media (min-width: 768px) {
  .main-nav {
    background-color: #000000;
  }
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    width: 640px;
    min-height: 72px;
    margin: 0 auto;
  }
  .main-nav__button {
    display: none;
  }
}
@media (min-width: 1200px) {
  .main-nav__wrapper {
    width: 960px;
    margin: 0 auto;
  }
}
.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-list__item a {
  text-decoration: none;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  min-height: 50px;
  padding: 12px 32px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #826550;
  border-top: 1px solid #886e5b;
  border-bottom: 1px solid #71543f;
}
.site-list__item a:active {
  color: rgba(255, 255, 255, 0.3);
}
@media (max-width: 767px) {
  .main-nav--closed .site-list__item {
    display: none;
  }
  .main-nav--closed .site-list__item--active {
    display: block;
  }
  .main-nav--closed .site-list__item--active a {
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 560px;
  }
  .site-list__item {
    margin-right: 33px;
  }
  .site-list__item:last-child {
    margin-right: 0;
  }
  .site-list__item a {
    width: 100%;
    min-height: 70px;
    padding: 23px 0px;
    background-color: transparent;
    border: none;
  }
  .site-list__item a[href]:hover {
    color: #826550;
  }
  .site-list__item a[href]:active {
    color: rgba(255, 255, 255, 0.3);
  }
  .site-list__item--active a {
    position: relative;
  }
  .site-list__item--active a::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3px;
    width: 100%;
    height: 3px;
    margin: 0 auto;
    background-color: #826550;
  }
}
@media (min-width: 1200px) {
  .site-list {
    max-width: 800px;
  }
  .site-list__item {
    margin-right: 1px;
  }
  .site-list__item a {
    padding: 23px 32px;
  }
  .site-list__item a[href]:hover {
    color: #000000;
    background: #ffffff;
  }
  .site-list__item a[href]:active {
    color: rgba(0, 0, 0, 0.3);
  }
  .site-list__item--active a::after {
    width: calc(100% - 62px);
  }
}
.user-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.user-list__item a {
  text-decoration: none;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 12px 20px;
  font-size: 18px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #ffffff;
  background-color: #6a4d38;
}
.user-list__item a:hover {
  color: rgba(255, 255, 255, 0.3);
}
.user-list__login-icon {
  width: 16px;
  height: 16px;
  padding-right: 13px;
  opacity: 0.3;
  fill: #ffffff;
}
@media (max-width: 767px) {
  .main-nav--closed .user-list__item {
    display: none;
  }
}
@media (min-width: 768px) {
  .user-list {
    display: flex;
    flex-wrap: wrap;
  }
  .user-list__item {
    display: flex;
  }
  .user-list__item a {
    justify-content: center;
    min-width: 80px;
    font-size: 0;
    background-color: transparent;
  }
  .user-list__login-icon {
    padding-right: 0;
  }
  .user-list__login-icon:hover {
    opacity: 1;
    fill: #826550;
  }
  .user-list__login-icon:active {
    opacity: 0.3;
    fill: #ffffff;
  }
}
@media (min-width: 1200px) {
  .user-list__item a {
    max-width: 160px;
    padding: 20px 22px 20px 27px;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    text-transform: uppercase;
  }
  .user-list__item a:hover {
    color: #000000;
    background-color: #ffffff;
  }
  .user-list__item a:active {
    color: rgba(0, 0, 0, 0.3);
  }
  .user-list__item a:hover .user-list__login-icon {
    opacity: 0.3;
    fill: #000000;
  }
  .user-list__item a:active .user-list__login-icon {
    opacity: 0.1;
  }
  .user-list__login-icon {
    margin-right: 19px;
  }
}
/* Файл login.less */
.login {
  position: absolute;
  top: 135px;
  left: 0;
  right: 0;
  z-index: 4;
  display: none;
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  padding: 32px 20px 37px;
  background-color: #f8f5f2;
  box-shadow: 0 30px 50px 0 rgba(0, 0, 0, 0.75);
}
.login--active {
  display: block;
}
.login__title {
  margin: 0;
  margin-bottom: 16px;
  font-size: 30px;
  line-height: 30px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}
.login__info {
  margin: 0;
  margin-bottom: 18px;
  font-size: 18px;
  line-height: 27px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  text-align: center;
  color: #000000;
}
.login__form {
  display: flex;
  flex-direction: column;
}
.login__username,
.login__password {
  margin: 0;
}
.login__username {
  margin-bottom: 6px;
}
.login__password {
  margin-bottom: 26px;
}
.login__username input,
.login__password input {
  padding: 0;
  background: none;
  border: none;
  box-sizing: border-box;
  width: 100%;
  min-height: 50px;
  padding: 14px 51px 14px 17px;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #e5ddd5;
}
.login__username input::placeholder,
.login__password input::placeholder {
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}
.login__username input:hover,
.login__password input:hover {
  border: 1px solid #d5c9bd;
}
.login__username input:focus,
.login__password input:focus {
  border: 1px solid #999999;
  outline: none;
}
.login__username input {
  background-image: url(../img/login-username.svg);
  background-repeat: no-repeat;
  background-position: center right 25px ;
}
.login__password input {
  background-image: url(../img/login-password.svg);
  background-repeat: no-repeat;
  background-position: center right 25px ;
}
.login__password-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 29px;
}
.login__remember-password {
  margin: 0;
}
.login__remember-password label {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}
.login__remember-password label::before {
  content: "";
  box-sizing: border-box;
  width: 33px;
  height: 33px;
  margin-right: 15px;
  background-color: #ffffff;
  border: 1px solid #e5ddd5;
}
.login__remember-password label:hover::before {
  border: 1px solid #d5c9bd;
}
.login__remember-password label:active::before {
  background-color: #d5c9bd;
}
.login__remember-password input:checked + label::before {
  background-image: url(../img/checkbox.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px 16px;
}
.login__remember-password input:focus + label::before {
  background-color: #d5c9bd;
}
.login__lost-password {
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}
.login__lost-password:hover {
  color: #896d5a;
}
.login__lost-password:active {
  color: #725743;
}
.login__buttons {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login__button {
  padding: 0;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-width: 130px;
  min-height: 50px;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
}
.login__button--enter {
  color: #ffffff;
  background-color: #826550;
}
.login__button--enter:hover {
  background-color: #6a4d38;
}
.login__button--enter:active {
  color: rgba(255, 255, 255, 0.3);
}
.login__button--enter span {
  display: none;
}
.login__button--close {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #e5ddd5;
}
.login__button--close:hover {
  border: 1px solid #d5c9bd;
}
.login__button--close:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5c9bd;
}
@media (min-width: 768px) {
  .login {
    top: 129px;
    width: 460px;
    padding: 54px 70px 57px;
  }
  .login__title {
    margin-bottom: 14px;
    font-size: 40px;
    line-height: 40px;
  }
  .login__username input,
  .login__password input {
    min-height: 70px;
    padding: 14px 51px 14px 24px;
    font-size: 24px;
    line-height: 24px;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #e5ddd5;
  }
  .login__username input::placeholder,
  .login__password input::placeholder {
    font-size: 24px;
    line-height: 24px;
    color: #000000;
  }
  .login__password-info {
    margin-bottom: 33px;
  }
  .login__buttons {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .login__button--enter {
    width: 100%;
  }
  .login__button--enter span {
    display: block;
  }
  .login__button--close {
    font-size: 0;
    background: none;
    border: none;
    position: absolute;
    top: 62px;
    right: -103px;
    width: 26px;
    min-width: auto;
    height: 26px;
    min-height: auto;
    background-image: url(../img/login-close.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .login__button--close:hover {
    border: none;
    opacity: 0.8;
  }
  .login__button--close:active {
    background-color: transparent;
    opacity: 0.3;
  }
}
.contacts__title {
  display: block;
  margin-bottom: 11px;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  text-align: center;
  color: #ffffff;
}
.contacts__text {
  margin: 0;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 27px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  text-align: center;
  color: #ffffff;
}
.contacts__phone {
  color: #ffffff;
  border: 1px solid #3f3f3f;
}
.contacts__phone:hover {
  border: 1px solid #545454;
}
.contacts__phone:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #252525;
  border: 1px solid #252525;
}
.contacts__mobile-phone {
  display: none;
}
@media (min-width: 768px) {
  .contacts__title {
    margin-bottom: 14px;
    text-align: left;
    text-transform: uppercase;
  }
  .contacts__text {
    margin-bottom: 3px;
    text-align: left;
  }
  .contacts__phone {
    display: block;
    min-height: auto;
    padding: 0;
    font-weight: normal;
    text-align: left;
    text-transform: none;
    border: none;
  }
  .contacts__phone:hover {
    border: none;
  }
  .contacts__phone:active {
    background-color: transparent;
    border: none;
  }
  .contacts__mobile-phone {
    display: inline;
  }
}
.social__slogan {
  display: none;
}
.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.social__item {
  flex-grow: 1;
  width: 33%;
}
.social__link {
  text-decoration: none;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 101px;
  border: 1px solid #3f3f3f;
}
.social__link::after {
  content: "";
  display: block;
  width: 39px;
  height: 39px;
  background-repeat: no-repeat;
  background-position: center;
}
.social__link:hover {
  z-index: 2;
  border: 1px solid #545454;
}
.social__link:active {
  z-index: 0;
  background-color: #252525;
  border: none;
}
.social__link:active::after {
  opacity: 0.3;
}
.social__link--vkontakte::after {
  background-image: url("../img/vk-icon.png");
  background-size: 23px 26px;
}
.social__link--facebook {
  margin-left: -1px;
  margin-right: -1px;
}
.social__link--facebook::after {
  background-image: url("../img/facebook-icon.png");
  background-size: 18px 39px;
}
.social__link--instagram::after {
  background-image: url("../img/insta-icon.png");
  background-size: 36px 36px;
}
@media (min-width: 1200px) {
  .social {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .social__slogan {
    margin: 0;
    display: block;
    margin-bottom: 15px;
    line-height: 18px;
  }
  .social__item {
    flex-grow: 0;
    width: auto;
    margin-right: 6px;
  }
  .social__item:last-child {
    margin-right: 0;
  }
  .social__link {
    width: 50px;
    height: 50px;
  }
  .social__link::after {
    width: 21px;
    height: 21px;
  }
  .social__link--vkontakte::after {
    background-size: 15px 17px;
  }
  .social__link--facebook::after {
    background-size: 10px 21px;
  }
  .social__link--instagram::after {
    background-size: 19px 19px;
  }
}
.copyright__text {
  margin: 0;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 18px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  text-align: center;
  color: #ffffff;
}
.copyright__link {
  color: #ffffff;
  border: 1px solid #3f3f3f;
}
.copyright__link:hover {
  border: 1px solid #545454;
}
.copyright__link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #252525;
  border: 1px solid #252525;
}
@media (min-width: 768px) {
  .copyright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.page-footer {
  position: relative;
  background-color: #292929;
}
.page-footer::before {
  content: "";
  position: absolute;
  top: -35px;
  width: 100%;
  height: 35px;
  background-image: url(../img/dark-corner.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.page-footer__contacts {
  padding: 38px 20px 26px;
}
.page-footer__copyright {
  padding: 32px 20px 23px;
}
@media (min-width: 768px) {
  .page-footer::before {
    content: none;
  }
  .page-footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 640px;
    margin: 0 auto;
    padding: 53px 0 60px;
  }
  .page-footer__contacts {
    width: 325px;
    padding: 0;
  }
  .page-footer__social {
    order: 1;
    width: 100%;
    margin-top: 50px;
  }
  .page-footer__copyright {
    width: 160px;
    margin-left: auto;
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .page-footer__wrapper {
    width: 960px;
    margin: 0 auto;
  }
  .page-footer__contacts {
    width: 320px;
  }
  .page-footer__social {
    order: 0;
    width: auto;
    width: 320px;
    margin-top: 0;
  }
}
.stats__header {
  padding: 27px 20px 27px;
  background-color: #ffffff;
}
.stats__slogan {
  display: block;
  max-width: 200px;
  margin: 0 auto;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}
.stats__info {
  margin: 0;
  margin: 0 auto;
  font-size: 20px;
  line-height: 27px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  text-align: center;
  color: #000000;
}
.stats__legend {
  margin: 0;
  margin: 0 auto;
  padding: 13px 20px;
  font-size: 20px;
  line-height: 27px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  text-align: center;
  color: #ffffff;
}
.stats__legend sup {
  top: -0.25em;
  font-size: 90%;
}
.stats__legend--top {
  display: none;
}
.stats__legend--bottom {
  opacity: 0.3;
}
.stats__list {
  width: 100%;
  border-collapse: collapse;
}
.stats__list tr {
  background-color: #404040;
}
.stats__list tr:nth-child(1) {
  background-color: #404040;
}
.stats__list tr:nth-child(2) {
  background-color: #4e4e4e;
}
.stats__list tr:nth-child(3) {
  background-color: #353535;
}
.stats__list tr:nth-child(4) {
  background-color: #404040;
}
.stats__value,
.stats__field {
  width: 50%;
  padding: 20px;
  vertical-align: top;
}
.stats__value {
  padding-right: 0;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #ffffff;
}
.stats__value sup {
  top: -0.35em;
  margin-left: 5px;
}
.stats__field {
  font-size: 18px;
  line-height: 18px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  text-align: right;
  color: #ffffff;
}
@media (min-width: 768px) {
  .stats {
    width: 640px;
    margin: 0 auto;
    margin-top: -185px;
  }
  .stats__header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 30px 40px;
  }
  .stats__header::before {
    content: "";
    position: absolute;
    top: 42px;
    left: -21px;
    border: 21px solid transparent;
    border-top: 21px solid #ffffff;
    border-right: 21px solid #ffffff;
  }
  .stats__slogan {
    max-width: 210px;
    margin: 0;
    margin-right: 102px;
    margin-bottom: 18px;
    font-size: 40px;
    line-height: 40px;
    text-align: left;
    text-transform: none;
  }
  .stats__info {
    max-width: 210px;
    margin: 0;
    margin-top: 5px;
    text-align: left;
  }
  .stats__legend--top {
    display: block;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.3);
  }
  .stats__list tbody {
    display: flex;
    flex-wrap: wrap;
  }
  .stats__list tr {
    box-sizing: border-box;
    width: 50%;
    padding: 24px 35px 30px;
  }
  .stats__value,
  .stats__field {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .stats__value {
    margin-bottom: 6px;
    font-size: 72px;
    line-height: 72px;
  }
  .stats__field {
    font-size: 20px;
    line-height: 27px;
    text-align: left;
  }
  .stats__field br {
    display: none;
  }
  .stats__value sup {
    top: -0.6em;
    margin-left: 14px;
    font-size: 55%;
  }
  .stats__legend--bottom {
    display: none;
  }
}
@media (min-width: 1200px) {
  .stats {
    display: flex;
    width: 960px;
    margin: 0 auto;
    margin-top: -160px;
    padding: 0;
  }
  .stats__header {
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 320px;
    padding: 31px 46px 26px 42px;
  }
  .stats__header::before {
    top: 38px;
  }
  .stats__slogan {
    max-width: none;
    margin: 0;
    margin-bottom: 44px;
  }
  .stats__info {
    max-width: none;
    margin: 0;
  }
  .stats__legend--top {
    margin-top: auto;
    text-align: left;
  }
}
.advantages {
  background-color: #242424;
  background-image: url(../img/light-corner.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 34px;
}
.advantages__wrapper {
  padding: 25px 20px 48px;
}
.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.advantages__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
}
.advantages__item::before {
  content: "";
  display: block;
  width: 95px;
  min-height: 94px;
  margin: 0 auto;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
}
.advantages__item:last-child {
  margin-bottom: 0;
}
.advantages__item--fast::before {
  background-image: url("../img/fast-icon.svg");
}
.advantages__item--cool::before {
  background-image: url("../img/cool-icon.svg");
}
.advantages__item--expensive::before {
  background-image: url("../img/expensive-icon.svg");
}
.advantages__title {
  margin: 0;
  margin-bottom: 17px;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
.advantages__desc {
  margin: 0;
  max-width: 83%;
  margin: 0 auto;
  font-size: 20px;
  line-height: 27px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  text-align: center;
  color: #ffffff;
}
.advantages__toggles {
  display: none;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .advantages {
    background-size: 100% 42px;
  }
  .advantages__wrapper {
    box-sizing: border-box;
    width: 640px;
    margin: 0 auto;
    padding: 42px 35px 50px;
  }
  .advantages__item {
    position: relative;
    margin-bottom: 45px;
    padding-left: 124px;
    padding-bottom: 33px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .advantages__item::before {
    position: absolute;
    top: 0;
    left: -5px;
    margin-bottom: 0;
  }
  .advantages__item:last-child {
    margin-bottom: 0;
    border-bottom: none;
  }
  .advantages__title {
    margin-bottom: 14px;
    text-align: left;
  }
  .advantages__desc {
    max-width: 100%;
    margin: 0;
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .advantages {
    background-size: 100% 65px;
  }
  .advantages__wrapper {
    padding: 79px 0 104px;
  }
  .advantages__list {
    display: flex;
    width: 960px;
    margin: 0 auto;
  }
  .advantages__item {
    box-sizing: border-box;
    width: 320px;
    padding: 0 40px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
  }
  .advantages__item::before {
    margin-bottom: 30px;
  }
  .advantages__item:last-child {
    border-right: none;
  }
  .advantages__title {
    margin-bottom: 15px;
  }
  .advantages__desc {
    max-width: none;
  }
}
.news {
  background-color: #ffffff;
  border-bottom: 1px solid #e5ddd5;
}
.news__wrapper {
  padding: 36px 20px 29px;
}
.news__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 22px;
}
.news__item {
  display: flex;
  padding-bottom: 13px;
  margin-bottom: 20px;
  box-sizing: border-box;
  min-height: 95px;
  border-bottom: 1px solid #e5ddd5;
}
.news__item:nth-last-child(2) {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}
.news__item:last-child {
  display: none;
  border-bottom: none;
}
.news__item:hover .news__date {
  background-color: #826550;
}
.news__item:hover .news__date:after {
  border-top: 10px solid #826550;
}
.news__item:hover .news__text {
  color: #826550;
  text-decoration: underline;
}
.news__item:active .news__date {
  color: rgba(255, 255, 255, 0.3);
  background-color: #6a4d38;
}
.news__item:active .news__date:after {
  border-top: 10px solid #6a4d38;
}
.news__item:active .news__day {
  color: rgba(255, 255, 255, 0.3);
}
.news__item:active .news__text {
  color: #6a4d38;
  text-decoration: underline;
}
.news__date {
  position: relative;
  top: 10px;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  box-sizing: border-box;
  width: 50px;
  min-height: 50px;
  margin-right: 20px;
  padding: 5px;
  font-size: 16px;
  line-height: 10px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #ffffff;
  background-color: #000000;
}
.news__date::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 10px;
  border-top: 10px solid #000000;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
}
.news__day {
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #ffffff;
}
.news__title {
  margin: 0;
  margin-bottom: 28px;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}
.news__text {
  margin: 0;
  font-size: 18px;
  line-height: 27px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  text-align: left;
  color: #000000;
}
.news__to-all {
  color: #000000;
  border: 1px solid #e5ddd5;
}
.news__to-all:hover {
  border: 1px solid #d5c9bd;
}
.news__to-all:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5c9bd;
}
@media (min-width: 768px) {
  .news__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 640px;
    margin: 0 auto;
    padding: 42px 0 34px;
  }
  .news__title {
    margin-bottom: 0;
    font-size: 40px;
  }
  .news__list {
    display: flex;
    order: 1;
    margin-top: 49px;
    margin-bottom: 0;
  }
  .news__item {
    width: 50%;
    margin-right: 40px;
    margin-bottom: 0;
    padding: 0;
    border: none;
  }
  .news__to-all {
    width: 160px;
  }
}
@media (min-width: 1200px) {
  .news__wrapper {
    width: 960px;
    margin: 0 auto;
    padding: 52px 0 40px;
  }
  .news__title {
    margin-left: 70px;
  }
  .news__item {
    width: 280px;
  }
  .news__item:last-child {
    display: flex;
  }
}
.reviews {
  background-color: #ffffff;
}
.reviews__wrapper {
  padding: 27px 20px 54px;
}
.reviews__title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}
.reviews__to-all {
  display: none;
}
.reviews__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.reviews__item {
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  padding-left: 70px;
}
.reviews__item:last-of-type {
  margin-bottom: 0;
}
.reviews__author-picture {
  margin: 0;
  position: absolute;
  top: 6px;
  left: 0;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 50px;
  height: 49px;
  overflow: hidden;
  border: 1px solid #e5ddd5;
}
.reviews__author-picture img {
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
}
.reviews__author-name {
  font-style: normal;
  display: block;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #000000;
}
.reviews__text {
  margin: 0;
  font-size: 18px;
  line-height: 27px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #000000;
}
.reviews__arrow {
  display: none;
}
.reviews__toggles {
  display: none;
}
@media (min-width: 768px) {
  .reviews__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 640px;
    margin: 0 auto;
    padding: 36px 0 58px;
  }
  .reviews__title {
    margin-bottom: 0;
    font-size: 40px;
  }
  .reviews__to-all {
    display: flex;
    width: 160px;
  }
  .reviews__to-all:hover {
    border: 1px solid #d5c9bd;
  }
  .reviews__to-all:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #d5c9bd;
  }
  .reviews__list {
    display: flex;
    width: 100%;
    margin-top: 37px;
  }
  .slider--nojs .reviews__list {
    flex-direction: column;
  }
  .reviews__item {
    box-sizing: border-box;
    width: 100%;
    min-height: 160px;
    margin-left: -1px;
    margin-right: -1px;
    padding: 32px 30px 29px 140px;
    border: 1px solid #e5ddd5;
  }
  .reviews__author-picture {
    top: 38px;
    left: 30px;
    width: 80px;
    height: 80px;
    margin-top: 0;
    border: none;
    border-radius: 50%;
  }
  .reviews__toggles {
    margin: 0 auto;
    background-color: #ffffff;
    margin-top: -14px;
    position: relative;
    padding: 10px 25px;
  }
}
@media (min-width: 1200px) {
  .reviews__wrapper {
    width: 960px;
    margin: 0 auto;
    padding: 35px 0;
  }
  .reviews__title {
    margin-left: 70px;
  }
  .reviews__item {
    margin: 0 21px;
    padding: 32px 69px 29px 318px;
  }
  .reviews__author-picture {
    top: 0;
    left: 0;
    border-radius: 0;
    width: 250px;
    height: 100%;
    border-right: 1px solid #e5ddd5;
  }
}
.slider__list {
  margin-bottom: 28px;
}
.slider__item {
  display: none;
  margin-bottom: 0;
}
.slider__item--active {
  display: flex;
}
.slider__toggles {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider__toggle {
  padding: 0;
  background: none;
  border: none;
  display: block;
  box-sizing: border-box;
  width: 7px;
  height: 7px;
  margin-right: 25px;
  border: 1px solid #ffffff;
  transform: rotate(45deg);
}
.slider__toggle:last-child {
  margin-right: 0;
}
.slider__toggle--active {
  background-color: #ffffff;
}
.reviews .slider__toggle {
  border: 1px solid #353535;
}
.reviews .slider__toggle--active {
  background-color: #353535;
}
.slider__arrow {
  display: none;
}
.slider--nojs .slider__list {
  margin-bottom: 0;
}
.slider--nojs .slider__item {
  display: flex;
  margin-bottom: 30px;
}
.slider--nojs .slider__item:last-of-type {
  margin-bottom: 0;
}
.slider--nojs .slider__toggles {
  display: none;
}
@media (min-width: 768px) {
  .slider__list {
    margin-bottom: 0;
  }
  .advantages .slider__item {
    display: block;
    margin-bottom: 45px;
  }
  .advantages .slider__item:last-child {
    margin-bottom: 0;
  }
  .advantages .slider__toggles {
    display: none;
  }
  .reviews .slider__toggles {
    margin: 0 auto;
    margin-top: -14px;
  }
  .slider__arrow {
    padding: 0;
    background: none;
    border: none;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 50px;
    border: 1px solid #e5ddd5;
  }
  .slider__arrow::after {
    content: "";
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
  }
  .slider__arrow--prev {
    order: -1;
  }
  .slider__arrow--prev:after {
    border-right: 12px solid #000000;
  }
  .slider__arrow--next:after {
    border-left: 12px solid #000000;
  }
  .slider--nojs .slider__arrow {
    display: none;
  }
}
@media (min-width: 1200px) {
  .advantages .slider__item {
    margin-bottom: 0;
  }
  .reviews .slider {
    padding-bottom: 50px;
  }
  .reviews .slider__toggles {
    margin: 0 auto;
    padding: 0;
    background-color: transparent;
  }
  .reviews .slider__list {
    margin-bottom: 42px;
  }
}
.record {
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  padding: 30px 20px 73px;
  background-color: #f8f5f2;
}
.record__title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}
.record__on-main {
  display: none;
}
.record__username,
.record__contacts {
  margin-bottom: 32px;
}
.record__item {
  margin: 0;
  margin-bottom: 6px;
}
.record__item:last-child {
  margin-bottom: 0;
}
.record__username input,
.record__contacts input {
  padding: 0;
  background: none;
  border: none;
  box-sizing: border-box;
  width: 100%;
  min-height: 50px;
  padding: 10px 18px 12px;
  background-color: #ffffff;
  border: 1px solid #e5ddd5;
}
.record__username input::placeholder,
.record__contacts input::placeholder {
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}
.record__username input:hover,
.record__contacts input:hover {
  border: 1px solid #d5c9bd;
}
.record__username input:focus,
.record__contacts input:focus {
  border: 1px solid #999999;
  outline: none;
}
.record__text {
  margin: 0;
  margin-bottom: 35px;
}
.record__text textarea {
  box-sizing: border-box;
  width: 100%;
  min-height: 112px;
  padding: 14px 18px 16px;
  background-color: #ffffff;
  border: 1px solid #e5ddd5;
}
.record__text textarea::placeholder {
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}
.record__text textarea:hover {
  border: 1px solid #d5c9bd;
}
.record__text textarea:focus {
  border: 1px solid #999999;
  outline: none;
}
.record__beard-model,
.record__optional {
  margin: 0;
  padding: 0;
  border: none;
}
.record__beard-model {
  margin-bottom: 10px;
}
.record__optional {
  margin-bottom: 45px;
}
.record__subtitle {
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}
.record__button {
  padding: 0;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-width: 130px;
  min-height: 50px;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #826550;
}
.record__button:hover {
  background-color: #6a4d38;
}
.record__button:active {
  color: rgba(255, 255, 255, 0.3);
}
@media (min-width: 768px) {
  .record {
    position: relative;
    padding: 56px 0 76px;
    font-size: 24px;
    line-height: 24px;
  }
  .record__wrapper {
    position: relative;
    width: 640px;
    margin: 0 auto;
  }
  .record__title {
    max-width: 330px;
    margin-bottom: 76px;
    font-size: 40px;
    line-height: 40px;
    text-align: left;
  }
  .record__on-main {
    position: absolute;
    top: -3px;
    right: 0;
    display: flex;
    width: auto;
    min-width: 160px;
  }
  .record__on-main:hover {
    border: 1px solid #d5c9bd;
  }
  .record__on-main:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #d5c9bd;
  }
  .record__username,
  .record__contacts {
    margin-bottom: 35px;
  }
  .record__username {
    display: flex;
  }
  .record__username .record__item {
    margin-right: -1px;
    margin-bottom: 0px;
  }
  .record__contacts .record__item {
    margin-bottom: 35px;
  }
  .record__username input,
  .record__contacts input {
    min-height: 70px;
    padding: 10px 25px 12px;
  }
  .record__username input::placeholder,
  .record__contacts input::placeholder {
    font-size: 24px;
    line-height: 24px;
  }
  .record__item:nth-child(2) {
    order: -1;
  }
  .record__text {
    margin-bottom: 50px;
  }
  .record__text textarea {
    min-height: 211px;
    padding: 21px 24px;
  }
  .record__text textarea::placeholder {
    font-size: 24px;
    line-height: 24px;
    color: #000000;
  }
  .record__beard-model,
  .record__optional {
    position: relative;
  }
  .record__beard-model::before,
  .record__optional::before {
    content: "";
    position: absolute;
    top: 15px;
    width: 100%;
    min-height: 1px;
    background-color: #e5ddd5;
  }
  .record__beard-model {
    margin-bottom: 51px;
  }
  .record__optional {
    margin-bottom: 59px;
  }
  .record__subtitle {
    position: relative;
    margin-bottom: 45px;
    padding: 0 30px;
    font-size: 30px;
    line-height: 30px;
    background-color: #f8f5f2;
  }
  .record__optional .record__subtitle {
    margin-bottom: 69px;
  }
  .record__button {
    min-height: 70px;
    font-size: 24px;
    line-height: 24px;
  }
}
@media (min-width: 1200px) {
  .record {
    padding: 56px 120px 87px;
  }
  .record__wrapper {
    width: 960px;
  }
  .record__title {
    max-width: 640px;
  }
  .record__username,
  .record__contacts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
  }
  .record__username .record__item {
    width: 295px;
    margin: 0;
  }
  .record__contacts .record__item {
    width: 462px;
    margin: 0;
  }
  .record__text {
    margin-bottom: 64px;
  }
  .record__beard-model {
    margin-bottom: 50px;
  }
  .record__optional {
    margin-bottom: 80px;
  }
  .record__subtitle {
    margin-bottom: 50px;
    padding: 0 47px;
  }
}
.beard-model {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.beard-model__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 93px;
  margin-bottom: 30px;
}
.beard-model__item label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 14px;
  text-align: center;
}
.beard-model__item label::before {
  content: "";
  box-sizing: border-box;
  width: 52px;
  height: 52px;
  margin-bottom: 15px;
  background-color: #ffffff;
  border: 1px solid #e5ddd5;
  border-radius: 50%;
}
.beard-model__item label:hover::before {
  border: 1px solid #d5c9bd;
}
.beard-model__item label:active::before {
  background-color: #d5c9bd;
  background-image: radial-gradient(circle, #fff 8px, #e5ddd5 9px, transparent 10px);
}
.beard-model input:checked + label::before {
  background-image: radial-gradient(circle, #fff 8px, #e5ddd5 9px, transparent 10px);
  background-repeat: no-repeat;
}
.beard-model input:checked + label:hover::before {
  background-image: radial-gradient(circle, #fff 8px, #d5c9bd 9px, transparent 10px);
}
.beard-model input:checked + label:active::before {
  background-image: radial-gradient(circle, #d5c9bd 8px, #d5c9bd 9px, transparent 10px);
}
@media (min-width: 768px) {
  .beard-model {
    justify-content: space-between;
  }
  .beard-model__item {
    margin-bottom: 0;
  }
  .beard-model__item label {
    margin-bottom: 33px;
  }
  .beard-model__item label::before {
    margin-bottom: 26px;
  }
}
@media (min-width: 1200px) {
  .beard-model__item {
    width: 160px;
  }
  .beard-model__item label::before {
    margin-bottom: 29px;
  }
}
.optional {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.optional__item {
  margin-bottom: 20px;
}
.optional__item:last-child {
  margin-bottom: 0;
}
.optional__item label {
  display: flex;
  align-items: center;
}
.optional__item label::before {
  content: "";
  box-sizing: border-box;
  width: 36px;
  height: 36px;
  margin-right: 24px;
  background-color: #ffffff;
  border: 1px solid #e5ddd5;
}
.optional__item label:hover::before {
  border: 1px solid #d5c9bd;
}
.optional__item label:active::before {
  background-color: #d5c9bd;
}
.optional__item input:checked + label::before {
  background-image: url(../img/checkbox.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px 16px;
}
.optional__item input:focus + label::before {
  background-color: #d5c9bd;
}
@media (min-width: 768px) {
  .optional {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .optional__item {
    width: 320px;
    margin-bottom: 47px;
  }
  .optional__item:nth-last-child(2) {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .optional__item {
    width: 320px;
  }
  .optional__item:nth-last-child(3) {
    margin-bottom: 0;
  }
}
.works {
  color: #000000;
  background-color: #f8f5f2;
}
.works__wrapper {
  padding: 30px 20px 67px;
}
.works__title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}
.works__on-main {
  display: none;
}
.works__item {
  margin: 0;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 20px;
  padding: 201px 21px 10px;
  border: 1px solid #e5ddd5;
}
.works__item:last-child {
  margin-bottom: 0;
}
.works__item--best {
  position: relative;
  padding-top: 500px;
}
.works__best {
  position: absolute;
  top: 401px;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 50px;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #826550;
}
.works__best::after {
  content: "";
  position: absolute;
  top: 0;
  right: -8px;
  border-top: 25px solid #826550;
  border-bottom: 25px solid #826550;
  border-right: 8px solid transparent;
}
.works__picture {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 280px;
  height: 176px;
}
.works__author {
  font-style: normal;
  display: inline-block;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
}
.works__text {
  margin: 0;
  margin-bottom: 18px;
  font-size: 18px;
  line-height: 27px;
}
.works__services {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.works__service {
  display: flex;
  align-items: center;
  min-height: 21px;
  margin-right: 38px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}
.works__service::before {
  content: "";
  margin-right: 14px;
  background-repeat: no-repeat;
  background-position: center;
}
.works__service:nth-child(even) {
  margin-right: 0px;
}
.works__service--haircut::before {
  width: 21px;
  height: 21px;
  background-image: url(../img/haircut-icon.svg);
}
.works__service--shaving::before,
.works__service--beard::before {
  width: 24px;
  height: 21px;
  margin-right: 20px;
  background-image: url(../img/beard-icon.svg);
}
.works__service--moustache::before {
  width: 46px;
  height: 12px;
  margin-left: -12px;
  background-image: url(../img/moustache-icon.svg);
}
@media (min-width: 768px) {
  .works__wrapper {
    position: relative;
    box-sizing: border-box;
    width: 768px;
    margin: 0 auto;
    padding: 58px 64px 103px;
  }
  .works__title {
    margin-bottom: 45px;
    font-size: 40px;
    line-height: 40px;
    text-align: left;
  }
  .works__on-main {
    position: absolute;
    top: 55px;
    right: 64px;
    display: flex;
    width: auto;
    min-width: 160px;
  }
  .works__on-main:hover {
    border: 1px solid #d5c9bd;
  }
  .works__on-main:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #d5c9bd;
  }
  .works__item {
    display: flex;
    flex-direction: column;
    min-height: 294px;
    margin-bottom: 41px;
    padding: 40px 50px 23px 320px;
    border: 1px solid #e5ddd5;
  }
  .works__item:last-child {
    margin-bottom: 0;
  }
  .works__item--best {
    min-height: 480px;
    padding-top: 45px;
  }
  .works__best {
    top: 35px;
    left: -2px;
  }
  .works__picture {
    width: 270px;
    height: 294px;
    overflow: hidden;
  }
  .works__item--best .works__picture {
    height: 480px;
  }
  .works__picture img {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
  }
  .works__author {
    margin-bottom: 26px;
  }
  .works__services {
    margin-top: auto;
  }
}
@media (min-width: 1200px) {
  .works__wrapper {
    width: 1200px;
    padding: 57px 120px 88px;
  }
  .works__title {
    margin-bottom: 86px;
  }
  .works__on-main {
    top: 55px;
    right: 120px;
  }
  .works__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .works__item {
    width: 294px;
    min-height: 541px;
    margin-bottom: 0;
    padding: 325px 30px 17px 35px;
    border: 1px solid #e5ddd5;
  }
  .works__item:last-child {
    margin-bottom: 0;
  }
  .works__item--best {
    width: 100%;
    min-height: 480px;
    margin-bottom: 41px;
    padding: 130px 23px 10px 520px;
  }
  .works__best {
    top: 26px;
    left: auto;
    right: 0;
  }
  .works__best::after {
    right: auto;
    left: -8px;
    transform: scale(-1);
  }
  .works__picture {
    width: 294px;
    height: 294px;
    overflow: hidden;
  }
  .works__item--best .works__picture {
    width: 480px;
    height: 480px;
  }
  .works__picture img {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
  }
  .works__author {
    margin-bottom: 26px;
  }
  .works__text {
    margin-bottom: 25px;
  }
  .works__item--best .works__text {
    max-width: 300px;
  }
  .works__item--best .works__service:nth-child(even) {
    margin-right: 38px;
  }
}
.pricelist {
  position: relative;
  color: #ffffff;
  background-color: #353535;
}
.pricelist::before {
  content: "";
  position: absolute;
  top: -33px;
  left: 0;
  width: 100%;
  height: 33px;
  background-image: url(../img/lightdark-corner.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 33px;
}
.pricelist__wrapper {
  padding: 36px 20px 53px;
}
.pricelist__title {
  margin: 0;
  margin-bottom: 24px;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}
.pricelist__list {
  width: 100%;
  margin-bottom: 10px;
  border-collapse: collapse;
  font-size: 20px;
  line-height: 20px;
}
.pricelist__number,
.pricelist__field,
.pricelist__additional,
.pricelist__value {
  padding-bottom: 22px;
  vertical-align: top;
}
.pricelist__number {
  display: none;
}
.pricelist__field {
  max-width: 190px;
  font-weight: bold;
}
.pricelist__field span {
  display: inline-block;
  padding-top: 6px;
  font-weight: normal;
}
.pricelist__additional {
  display: none;
}
.pricelist__value {
  max-width: 90px;
  text-align: right;
}
.pricelist__discount {
  margin: 0;
  position: relative;
  box-sizing: border-box;
  padding: 18px 21px 16px 114px;
  font-size: 20px;
  line-height: 27px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.pricelist__discount::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 21px;
  display: block;
  width: 58px;
  height: 57px;
  background-image: url(../img/clock-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 768px) {
  .pricelist::before {
    top: -42px;
    height: 42px;
    background-size: 100% 42px;
  }
  .pricelist__wrapper {
    box-sizing: border-box;
    width: 768px;
    margin: 0 auto;
    padding: 43px 64px 56px;
  }
  .pricelist__title {
    margin-bottom: 49px;
    font-size: 40px;
    line-height: 40px;
    text-align: left;
  }
  .pricelist__number,
  .pricelist__field,
  .pricelist__additional,
  .pricelist__value {
    box-sizing: border-box;
    padding: 16px 20px 18px;
    border: 1px solid #4a4a4a;
  }
  .pricelist__number {
    display: table-cell;
    width: 70px;
    text-align: center;
    color: rgba(255, 255, 255, 0.3);
  }
  .pricelist__field {
    width: 245px;
  }
  .pricelist__field span {
    display: none;
  }
  .pricelist__additional {
    display: table-cell;
    width: 158px;
  }
  .pricelist__value {
    width: 156px;
    text-align: left;
  }
  .pricelist__discount {
    padding: 39px 27px 41px 185px;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
  }
  .pricelist__discount::before {
    top: 21px;
    left: 27px;
    width: 72px;
    height: 71px;
  }
}
@media (min-width: 1200px) {
  .pricelist::before {
    content: none;
  }
  .pricelist__wrapper {
    position: relative;
    width: 1200px;
    padding: 78px 120px 83px;
  }
  .pricelist__title {
    margin-bottom: 48px;
  }
  .pricelist__list {
    width: 630px;
    margin-bottom: 0;
  }
  .pricelist__number,
  .pricelist__field,
  .pricelist__additional,
  .pricelist__value {
    padding: 16px 18px 18px 20px;
  }
  .pricelist__number {
    width: 70px;
    padding: 16px 20px 18px;
  }
  .pricelist__field {
    width: 245px;
  }
  .pricelist__additional {
    width: 158px;
  }
  .pricelist__value {
    width: 149px;
  }
  .pricelist__discount {
    position: absolute;
    top: 166px;
    right: 120px;
    width: 269px;
    padding: 199px 60px 21px;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    text-transform: none;
  }
  .pricelist__discount::before {
    top: 35px;
    left: 65px;
    width: 142px;
    height: 139px;
  }
}
