@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.woff") format("woff"),
    url("../fonts/Roboto-Light.woff2") format("woff2");
}
@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff") format("woff"),
    url("../fonts/Roboto-Regular.woff2") format("woff2");
}
@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff") format("woff"),
    url("../fonts/Roboto-Medium.woff2") format("woff2");
}
@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff") format("woff"),
    url("../fonts/Roboto-Bold.woff2") format("woff2");
}
@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Yeseva One";
  src: url("../fonts/YesevaOne-Regular.woff") format("woff"),
    url("../fonts/YesevaOne-Regular.woff2") format("woff2");
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 19.6px;
  font-family: "Roboto", Arial, sans-serif;
  color: #ffffff;
  background-color: #181617;
}

@media (min-width: 768px) {
  body {
    font-size: 16px;
    line-height: 24.75px;
  }
}
a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
}

.pets,
.breed-features,
.care,
.faq,
.reviews {
  background-color: #1f1c1d;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

@media (min-width: 768px) {
  .container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 27px;
  }
}
@media (min-width: 1366px) {
  .container {
    max-width: 1366px;
    padding: 0 104px;
  }
}
.section__container {
  padding-top: 53px;
  padding-bottom: 60px;
}

.section__title {
  margin: 0 auto;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 28px;
  line-height: normal;
  font-family: "Yeseva One", Georgia, serif;
  text-align: center;
  color: #ffffff;
}

.section__lead {
  max-width: 515px;
  margin: 0 auto;
  font-weight: 400;
  text-align: center;
  color: #a07b50;
}

@media (min-width: 768px) {
  .section__title {
    font-size: 36px;
  }
  .section__title br {
    display: none;
  }
}
.button {
  display: inline-block;
  padding: 12px 18px;
  font-weight: 700;
  font-size: 12px;
  line-height: normal;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #a07b50;
  cursor: pointer;
  transition: 0.5s;
}
.button:hover {
  border-color: #f08100;
}

@media (min-width: 768px) {
  .button {
    padding: 17px 38px;
    font-size: 14px;
  }
}
.arrow-prev,
.arrow-next {
  position: absolute;
  width: 10px;
  height: 20px;
  background-color: transparent;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  opacity: 0.3;
  transition: 0.5s;
}
.arrow-prev:hover,
.arrow-next:hover {
  opacity: 1;
}

.arrow-prev {
  background-image: url("../img/icon-arrow-prev.svg");
}

.arrow-next {
  background-image: url("../img/icon-arrow-next.svg");
}

@media (min-width: 768px) {
  .arrow-prev,
  .arrow-next {
    width: 15px;
    height: 31px;
  }
}
.social__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__item {
  margin-right: 15px;
}
.social__item:last-child {
  margin-right: 0;
}

.social__icon {
  fill: #ffffff;
  transition: 0.5s;
}
.social__icon--vk {
  position: relative;
  top: -1px;
}
.social__icon:hover {
  fill: #a07b50;
}

.social--bordered .social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border: 1px solid #544332;
}
.social--bordered .social__icon {
  fill: #a07b50;
}
.social--bordered .social__icon:hover {
  fill: #ffffff;
}
.social--bordered .social__icon--vk {
  top: 0;
}

.social--small .social__item {
  margin-right: 11px;
}
.social--small .social__item:last-child {
  margin-right: 0;
}
.social--small .social__icon--fb {
  width: 6px;
  height: 12px;
}
.social--small .social__icon--tw {
  width: 16px;
  height: 11px;
}
.social--small .social__icon--vk {
  top: 0;
  width: 13px;
  height: 9px;
}

.social--gold .social__item {
  margin-right: 20px;
}
.social--gold .social__item:last-child {
  margin-right: 0;
}
.social--gold .social__icon {
  fill: #a07b50;
}
.social--gold .social__icon:hover {
  fill: #ffffff;
}
.social--gold .social__icon--fb {
  width: 7px;
  height: 16px;
}
.social--gold .social__icon--tw {
  width: 22px;
  height: 16px;
}
.social--gold .social__icon--vk {
  top: 0;
  width: 25px;
  height: 14px;
}

@media (min-width: 768px) {
  .social__item {
    margin-right: 13px;
  }

  .social--gold .social__item {
    margin-right: 9px;
  }
  .social--gold .social__item:last-child {
    margin-right: 0;
  }
  .social--gold .social__icon--fb {
    width: 7px;
    height: 15px;
  }
  .social--gold .social__icon--tw {
    width: 21px;
    height: 15px;
  }
  .social--gold .social__icon--vk {
    width: 22px;
    height: 13px;
  }
}
@media (min-width: 1366px) {
  .social--small .social__list {
    flex-direction: column;
  }
  .social--small .social__list::before {
    content: "";
    width: 2px;
    height: 78px;
    margin-bottom: 31px;
    background-color: rgba(255, 255, 255, 0.61);
  }
  .social--small .social__item {
    margin-right: 0;
  }
}
.slider {
  position: relative;
}

.logo {
  display: block;
  width: 100%;
  text-align: center;
}

.logo__image {
  width: 52px;
  height: 24px;
  cursor: pointer;
  fill: #a07b50;
  stroke: #1f1c1d;
  stroke-width: 0.8;
  transition: 0.5s;
}
.logo__image:hover {
  fill: #f08100;
}

.logo--footer .logo__image {
  width: 56px;
  height: 26px;
}

@media (min-width: 768px) {
  .logo {
    width: 55px;
    height: 26px;
    margin: 0 auto;
  }

  .logo__image {
    width: 100%;
    height: auto;
    stroke-width: 0.8;
  }
}
.header__container {
  padding: 27px 0 276px;
  background: url("../img/pic-header-m.png") bottom right/275px 256px no-repeat;
}
@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .header__container {
    background-image: url("../img/pic-header-m@2x.png");
  }
}

.header__logo {
  margin-bottom: 46px;
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  text-align: center;
}

.header__city {
  margin: 0;
  margin-bottom: 6px;
  color: #a07b50;
}

.header__title {
  max-width: 320px;
  margin: 0;
  margin-bottom: 17px;
  font-weight: 400;
  font-size: 36px;
  line-height: normal;
  font-family: "Yeseva One", Georgia, serif;
  color: #ffffff;
}

.header__lead {
  margin: 0;
  margin-bottom: 36px;
  color: #a07b50;
}

.header__social {
  display: none;
}

@media (min-width: 768px) {
  .header__container {
    padding: 28px 41px 39px;
    background-image: url("../img/pic-header-t.png");
    background-position: right -132px bottom;
    background-size: 749px 534px;
  }
}
@media (min-width: 768px) and (min-resolution: 144dpi),
  (min-width: 768px) and (min-resolution: 1.5dppx) {
  .header__container {
    background-image: url("../img/pic-header-t@2x.png");
  }
}
@media (min-width: 768px) {
  .header__logo {
    margin-bottom: 91px;
  }
}
@media (min-width: 768px) {
  .header__content {
    align-items: flex-start;
    max-width: 380px;
    text-align: left;
  }
}
@media (min-width: 768px) {
  .header__city {
    margin-bottom: 19px;
  }
}
@media (min-width: 768px) {
  .header__title {
    max-width: none;
    margin-bottom: 19px;
    font-size: 52px;
  }
}
@media (min-width: 768px) {
  .header__lead {
    max-width: 300px;
    margin-bottom: 50px;
  }
}
@media (min-width: 768px) {
  .header__button {
    margin-bottom: 54px;
  }
}
@media (min-width: 768px) {
  .header__social {
    display: block;
  }
}
@media (min-width: 1366px) {
  .header__container {
    position: relative;
    padding: 46px 204px 168px;
    background-image: url("../img/pic-header-d.png");
    background-position: right -50px bottom;
    background-size: 1011px 712px;
  }
}
@media (min-width: 1366px) and (min-resolution: 144dpi),
  (min-width: 1366px) and (min-resolution: 1.5dppx) {
  .header__container {
    background-image: url("../img/pic-header-d@2x.png");
  }
}
@media (min-width: 1366px) {
  .header__logo {
    margin-bottom: 110px;
  }
}
@media (min-width: 1366px) {
  .header__button {
    margin-bottom: 0;
  }
}
@media (min-width: 1366px) {
  .header__social {
    position: absolute;
    left: 80px;
    bottom: 58px;
    display: block;
  }
}
.pets__container {
  padding-bottom: 0;
}

.pets__lead {
  margin-bottom: 32px;
}

.pets__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 234px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 30px;
  list-style: none;
}

.pets__item {
  margin-right: auto;
}
.pets__item:last-child {
  margin-right: 0;
}

.pets__tab {
  font-weight: 500;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.2);
  transition: 0.5s;
}
.pets__tab--active {
  color: #ffffff;
}
.pets__tab:hover {
  color: white;
}

.photos-pets {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photos-pets__list {
  margin: 0;
  margin-bottom: 49px;
  padding: 0;
  list-style: none;
}

.photos-pets__item {
  display: none;
  max-width: 81%;
  height: 248px;
}
.photos-pets__item--active {
  display: block;
  margin: 0 auto;
}
.photos-pets__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.photos-pets__arrow-prev,
.photos-pets__arrow-next {
  position: absolute;
  top: 118px;
}

.photos-pets__arrow-prev {
  left: -2px;
}

.photos-pets__arrow-next {
  right: -2px;
}

@media (min-width: 768px) {
  .pets__container {
    padding-top: 100px;
  }

  .pets__lead {
    margin-bottom: 45px;
  }

  .pets__list {
    justify-content: center;
    width: auto;
    margin-bottom: 36px;
    padding-right: 15px;
  }

  .pets__item {
    margin-right: 45px;
  }

  .pets__tab {
    font-size: 18px;
  }

  .photos-pets__list {
    position: relative;
    right: 12px;
    width: 84%;
    margin-bottom: 56px;
  }

  .photos-pets__item {
    max-width: none;
    width: 474px;
    height: 198px;
  }
  .photos-pets__item--prev,
  .photos-pets__item--next {
    position: absolute;
    top: 151px;
    display: block;
  }
  .photos-pets__item--prev {
    left: 0;
  }
  .photos-pets__item--next {
    right: 0;
  }
  .photos-pets__item--active {
    position: relative;
    z-index: 1;
    width: 474px;
    height: 495px;
  }

  .photos-pets__arrow-prev,
  .photos-pets__arrow-next {
    top: 235px;
  }

  .photos-pets__arrow-prev {
    left: 0;
  }

  .photos-pets__arrow-next {
    right: 0;
  }
}
@media (min-width: 1366px) {
  .pets__container {
    padding-top: 223px;
  }

  .pets__lead {
    max-width: 522px;
  }

  .pets__list {
    margin-bottom: 36px;
  }

  .photos-pets__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    width: 100%;
    height: 509px;
    margin-bottom: 36px;
    padding: 0 60px 0 70px;
  }

  .photos-pets__item {
    position: static;
    width: 517px;
  }
  .photos-pets__item--prev {
    height: 241px;
  }
  .photos-pets__item--next {
    height: 214px;
    margin-bottom: 40px;
  }
  .photos-pets__item--active {
    margin: 0;
    width: 474px;
    height: 495px;
  }

  .photos-pets__arrow-prev,
  .photos-pets__arrow-next {
    display: none;
  }
}
.breed-features__container {
  padding-top: 52px;
  padding-bottom: 54px;
}

.breed-features__lead {
  margin-bottom: 28px;
  padding: 0 5px;
}

.breed-features__image {
  position: relative;
  width: 267px;
  min-height: 280px;
  margin: 0 auto;
  margin-bottom: 45px;
}
.breed-features__image::before,
.breed-features__image::after {
  content: "";
  position: absolute;
  border-radius: 50%;
}
.breed-features__image::before {
  top: 48px;
  left: 17px;
  width: 230px;
  height: 230px;
  background-color: #151313;
}
.breed-features__image::after {
  top: 23px;
  left: -7px;
  width: 280px;
  height: 280px;
  border: 1px solid #a07b50;
}
.breed-features__image img {
  position: relative;
  z-index: 1;
  width: 100%;
}

.breed-features__list {
  max-width: 320px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.breed-features__item {
  position: relative;
  margin-bottom: 20px;
  padding-left: 18px;
  padding-right: 18px;
  line-height: 20px;
}
.breed-features__item:last-child {
  margin-bottom: 0;
}
.breed-features__item::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 8px;
  height: 8px;
  background-color: #a07b50;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .breed-features__container {
    padding-top: 90px;
    padding-bottom: 56px;
  }

  .breed-features__lead {
    margin-bottom: 62px;
  }

  .breed-features__content {
    position: relative;
  }

  .breed-features__image {
    width: 401px;
    min-height: 436px;
    margin-bottom: 45px;
  }
  .breed-features__image::before {
    top: 61px;
    left: 30px;
    width: 342px;
    height: 349px;
  }
  .breed-features__image::after {
    width: 416px;
    height: 425px;
  }
  .breed-features__image img {
    top: -10px;
    left: 15px;
  }

  .breed-features__item {
    position: absolute;
    left: 50%;
    max-width: 180px;
    padding-left: 21px;
    padding-right: 21px;
    line-height: 22px;
  }
  .breed-features__item::before {
    top: 5px;
    right: 0;
    width: 11px;
    height: 11px;
  }
  .breed-features__item--cohabitation {
    top: 115px;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    transform: translateX(-350px);
  }
  .breed-features__item--cohabitation::before {
    left: auto;
  }
  .breed-features__item--instruction {
    top: 187px;
    max-width: 150px;
    line-height: 24px;
    text-align: left;
    transform: translateX(200px);
  }
  .breed-features__item--instruction::before {
    right: auto;
  }
  .breed-features__item--weight {
    top: 335px;
    max-width: 150px;
    text-align: left;
    transform: translateX(174px);
  }
  .breed-features__item--weight::before {
    right: auto;
  }
  .breed-features__item--appearance {
    top: 307px;
    text-align: right;
    transform: translateX(-364px);
  }
  .breed-features__item--appearance::before {
    left: auto;
  }
}
@media (min-width: 1366px) {
  .breed-features__container {
    padding-top: 80px;
    padding-bottom: 53px;
  }

  .breed-features__lead {
    max-width: 760px;
    margin-bottom: 53px;
  }

  .breed-features__image {
    width: 603px;
    min-height: 655px;
  }
  .breed-features__image::before {
    top: 75px;
    left: 50px;
    width: 519px;
    height: 519px;
  }
  .breed-features__image::after {
    width: 631px;
    height: 631px;
  }
  .breed-features__image img {
    top: -28px;
    left: 24px;
  }

  .breed-features__item {
    max-width: 302px;
    padding-left: 34px;
    padding-right: 34px;
  }
  .breed-features__item--cohabitation {
    top: 158px;
    transform: translateX(-553px);
  }
  .breed-features__item--instruction {
    top: 267px;
    transform: translateX(312px);
  }
  .breed-features__item--weight {
    top: 485px;
    max-width: 240px;
    transform: translateX(276px);
  }
  .breed-features__item--appearance {
    top: 443px;
    transform: translateX(-581px);
  }
  .breed-features__item::before {
    width: 15px;
    height: 15px;
  }
}
.benefits__container {
  padding-bottom: 30px;
}

.benefits__lead {
  margin-bottom: 35px;
}

.benefits__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.benefits__item {
  max-width: 290px;
  min-height: 248px;
  margin: 0 auto 30px;
  padding: 15px;
  background-color: #1f1c1d;
}

.benefits__link {
  display: block;
  padding: 40px 30px 36px;
  text-align: center;
  color: #ffffff;
  transition: 0.5s;
}
.benefits__link svg {
  display: block;
  margin: 0 auto 15px;
  fill: #a07b50;
  stroke-width: 1;
  stroke: #1f1c1d;
  transition: 0.5s;
}
.benefits__link--consultancy {
  padding-top: 48px;
}
.benefits__link:hover {
  background-color: #a07b50;
}
.benefits__link:hover svg {
  fill: #ffffff;
  stroke: #a07b50;
}

@media (min-width: 768px) {
  .benefits__container {
    padding-top: 83px;
    padding-bottom: 57px;
  }

  .benefits__lead {
    margin-bottom: 59px;
  }

  .benefits__item {
    max-width: 360px;
    min-height: 308px;
    margin-bottom: 42px;
    padding: 18px 20px 16px;
  }

  .benefits__link {
    padding: 46px 45px 36px;
  }
  .benefits__link svg {
    margin: 0 auto 35px;
  }
  .benefits__link--service svg {
    width: 98px;
    height: 110px;
  }
  .benefits__link--consultancy svg {
    width: 107px;
    height: 98px;
    margin-bottom: 43px;
  }
  .benefits__link--nutrition svg {
    width: 71px;
    height: 111px;
  }
}
@media (min-width: 1366px) {
  .benefits__lead {
    margin-bottom: 47px;
  }

  .benefits__list {
    display: flex;
    flex-wrap: wrap;
    justify-self: space-between;
  }

  .benefits__item {
    min-height: 301px;
  }

  .benefits__link {
    padding: 46px 45px 30px;
  }
  .benefits__link svg {
    margin: 0 auto 30px;
  }
  .benefits__link--consultancy svg {
    margin-bottom: 42px;
  }
}
.care {
  background-image: url("../img/bg-care-m.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .care {
    background-image: url("../img/bg-care-m@2x.jpg");
  }
}

.care__title {
  margin-bottom: 32px;
}

.care__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.care__item {
  margin-bottom: 30px;
}
.care__item:last-child {
  margin-bottom: 0;
}

.item-care__link {
  position: relative;
  display: block;
  padding: 21px 17.5% 21px 25px;
  color: inherit;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid #a07b50;
  transition: 0.5s;
}
.item-care__link::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 16%;
  height: 100%;
  background: #a07b50 url("../img/icon-care-arrow.svg") center/10px 20px
    no-repeat;
  transition: 0.5s;
}
.item-care__link:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
.item-care__link:hover::after {
  background-color: rgba(0, 0, 0, 0.6);
}

.item-care__title {
  margin: 0;
  margin-bottom: 13px;
  font-weight: 700;
  font-size: 18px;
  color: #a07b50;
}

.item-care__content {
  margin: 0;
}

@media (min-width: 768px) {
  .care {
    background-image: url("../img/bg-care-t.jpg");
  }
}
@media (min-width: 768px) and (min-resolution: 144dpi),
  (min-width: 768px) and (min-resolution: 1.5dppx) {
  .care {
    background-image: url("../img/bg-care-t@2x.jpg");
  }
}
@media (min-width: 768px) {
  .care__container {
    padding: 89px 105px 97px;
  }
}
@media (min-width: 768px) {
  .care__title {
    margin-bottom: 39px;
  }
}
@media (min-width: 768px) {
  .care__item {
    margin-bottom: 22px;
  }
}
@media (min-width: 768px) {
  .item-care__link {
    min-height: 169px;
    padding: 38px 118px 21px 49px;
  }
  .item-care__link::after {
    width: 61px;
    background-size: 12px 17px;
  }
}
@media (min-width: 768px) {
  .item-care__title {
    margin-bottom: 13px;
    font-size: 22px;
  }
}
@media (min-width: 768px) {
  .item-care__content {
    font-size: 14px;
  }
}
@media (min-width: 1366px) {
  .care__container {
    padding: 85px 105px 97px;
  }

  .care__title {
    margin-bottom: 45px;
  }

  .care__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 373px;
  }

  .care__item {
    width: 559px;
    margin-bottom: 0;
  }

  .item-care__link {
    padding: 38px 110px 18px 57px;
  }
}
.team__lead {
  margin-bottom: 35px;
}

.team__list {
  position: relative;
  padding-top: 1px;
}

.team__item {
  margin: 0;
}

.item-team {
  display: none;
  margin-top: 62px;
  padding: 1px 10px 11px;
  text-align: center;
  background-color: #1f1c1d;
}
.item-team--active {
  display: block;
}

.item-team__image {
  width: 126px;
  height: 126px;
  margin: -63px auto 22px;
  background-color: #a07b50;
}
.item-team__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.item-team__author {
  display: inline-block;
  margin-bottom: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #a07b50;
}

.item-team__position {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 400;
  color: #a07b50;
}

.item-team__content {
  margin: 0;
  margin-bottom: 22px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.72);
}

.item-team__arrow-prev,
.item-team__arrow-next {
  position: absolute;
  top: 53px;
}

.item-team__arrow-prev {
  left: 50%;
  transform: translateX(-89px);
}

.item-team__arrow-next {
  right: 50%;
  transform: translateX(89px);
}

@media (min-width: 768px) {
  .team__container {
    padding: 84px 48px 99px;
  }

  .team__lead {
    margin-bottom: 26px;
  }

  .team__list {
    padding-right: 26px;
  }

  .item-team {
    margin: 0 0 96px;
    padding: 72px 95px 69px 106px;
    text-align: left;
    border: 23px solid #181617;
    outline: 1px solid rgba(160, 123, 80, 0.43);
  }

  .item-team__image {
    position: absolute;
    right: 81px;
    bottom: -96px;
    width: 208px;
    height: 210px;
    margin: 0;
  }

  .item-team__author {
    margin-bottom: 8px;
    font-size: 24px;
  }

  .item-team__position {
    margin-bottom: 25px;
  }

  .item-team__content {
    margin-bottom: 45px;
    line-height: 24.75px;
  }

  .item-team__social {
    display: flex;
  }

  .item-team__arrow-prev,
  .item-team__arrow-next {
    position: absolute;
    top: auto;
    left: auto;
    bottom: -96px;
    transform: translateX(0);
  }

  .item-team__arrow-prev {
    right: 318px;
  }

  .item-team__arrow-next {
    right: 40px;
  }
}
@media (min-width: 1366px) {
  .team__container {
    padding: 84px 48px 73px;
  }

  .team__list {
    padding-right: 123px;
    padding-left: 490px;
  }

  .item-team {
    margin: 0;
    padding: 68px 95px 61px 102px;
  }

  .item-team__image {
    top: 0;
    left: 176px;
    right: auto;
    bottom: auto;
    width: 360px;
    height: 356px;
  }

  .item-team__arrow-prev,
  .item-team__arrow-next {
    top: 181px;
    right: auto;
    bottom: auto;
    transform: translateX(0);
  }

  .item-team__arrow-prev {
    left: 42px;
  }

  .item-team__arrow-next {
    right: 42px;
  }
}
.faq__container {
  padding-bottom: 0;
}

.faq__lead {
  max-width: 200px;
  margin-bottom: 36px;
}

.faq__list {
  margin: 0;
}

.item-faq {
  margin-bottom: 30px;
  color: #ddd0c3;
}
.item-faq:last-child {
  margin-bottom: 0;
}

.item-faq__button {
  position: relative;
  box-sizing: border-box;
  display: block;
  width: 100%;
  min-height: 43px;
  padding: 10px 50px 11px 14px;
  font: inherit;
  font-weight: 500;
  text-align: left;
  color: inherit;
  background-color: transparent;
  border: 1px solid #544332;
  cursor: pointer;
  transition: 0.5s;
}
.item-faq__button::-webkit-details-marker {
  display: none;
}
.item-faq__button::-moz-list-bullet {
  list-style-type: none;
}
.item-faq__button::after {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  box-sizing: content-box;
  width: 41px;
  height: 100%;
  background-color: transparent;
  background-image: url("../img/icon-faq-plus.svg");
  background-position: center;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  border: 1px solid #544332;
  transition: 0.5s;
}
.item-faq__button:hover {
  border-color: #f08100;
}
.item-faq__button:hover::after {
  border-color: #f08100;
}

.item-faq__content {
  margin-top: -1px;
  padding: 11px 20px 11px 15px;
  font-weight: 300;
  border: 1px solid #544332;
}
.item-faq__content p {
  margin: 0;
  margin-bottom: 15px;
}
.item-faq__content p:last-of-type {
  margin-bottom: 0;
}

.item-faq[open] .item-faq__button::after {
  background-color: #a07b50;
  background-image: url("../img/icon-faq-minus.svg");
  background-size: 16px 2px;
  border: 1px solid #a07b50;
}

@media (min-width: 768px) {
  .faq__container {
    padding-top: 139px;
  }

  .faq__title {
    margin-bottom: 18px;
  }

  .faq__lead {
    max-width: none;
    margin-bottom: 52px;
  }

  .faq__list {
    counter-reset: i;
    padding: 0 28px 0 132px;
  }

  .item-faq {
    position: relative;
    margin-bottom: 24px;
    color: #ddd0c3;
  }
  .item-faq:last-child {
    margin-bottom: 0;
  }
  .item-faq::before {
    counter-increment: i;
    content: "0" counter(i);
    position: absolute;
    top: 29px;
    left: -80px;
    font-weight: 700;
    font-size: 50px;
    color: #a07b50;
  }

  .item-faq__button {
    display: flex;
    align-items: center;
    min-height: 77px;
    padding: 20px 122px 15px 29px;
    line-height: 20px;
  }
  .item-faq__button::after {
    width: 71px;
  }

  .item-faq__content {
    padding: 26px 136px 26px 29px;
  }
  .item-faq__content p {
    margin-bottom: 30px;
  }
}
@media (min-width: 1366px) {
  .faq__container {
    padding-top: 74px;
  }

  .faq__list {
    padding: 0 114px 0 250px;
  }

  .item-faq {
    margin-bottom: 38px;
  }
  .item-faq::before {
    top: 49px;
    left: -114px;
    font-size: 70px;
  }

  .item-faq__button {
    padding: 50px 122px 40px 43px;
  }
  .item-faq__button::after {
    width: 104px;
  }

  .item-faq__content {
    padding: 37px 204px 38px 42px;
  }
}
.reviews__title {
  margin-bottom: 50px;
}

.reviews__list {
  padding-top: 1px;
}

.item-reviews {
  display: none;
  margin: 0;
  margin-top: 82px;
  padding: 1px 25px 40px;
  text-align: center;
  background-color: #181617;
}
.item-reviews--active {
  display: block;
}

.item-reviews__image {
  width: 242px;
  height: 166px;
  margin: -83px auto 28px;
  background-color: #a07b50;
}
.item-reviews__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.item-reviews__author {
  display: inline-block;
  margin-bottom: 18px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

.item-reviews__content {
  margin: 0 auto;
  margin-bottom: 23px;
  color: rgba(255, 255, 255, 0.72);
}

.item-reviews__footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-reviews__date {
  margin-right: 38px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16.8px;
  color: #a07b50;
}

.item-reviews__arrow-prev,
.item-reviews__arrow-next {
  top: 74px;
}

.item-reviews__arrow-prev {
  left: 50%;
  transform: translateX(-147px);
}

.item-reviews__arrow-next {
  right: 50%;
  transform: translateX(147px);
}

@media (min-width: 768px) {
  .reviews__container {
    padding: 86px 0;
  }

  .reviews__title {
    margin-bottom: 50px;
  }

  .reviews__list {
    padding: 1px 95px 0;
  }

  .item-reviews {
    margin-top: 93px;
    padding: 1px 72px 33px;
  }

  .item-reviews__image {
    width: 302px;
    height: 208px;
    margin: -94px auto 35px;
  }

  .item-reviews__author {
    font-size: 24px;
  }

  .item-reviews__content {
    margin-bottom: 27px;
    padding: 0 30px;
    font-size: 14px;
    line-height: 22px;
  }

  .item-reviews__footer {
    position: relative;
    left: 11px;
  }

  .item-reviews__arrow-prev,
  .item-reviews__arrow-next {
    top: 130px;
    width: 60px;
    height: 18px;
  }

  .item-reviews__arrow-prev {
    background-image: url("../img/icon-big-arrow-prev.svg");
    transform: translateX(-240px);
  }

  .item-reviews__arrow-next {
    background-image: url("../img/icon-big-arrow-next.svg");
    transform: translateX(245px);
  }
}
@media (min-width: 1366px) {
  .reviews__container {
    padding: 86px 0 113px;
  }

  .reviews__list {
    padding: 1px 146px 0 580px;
  }

  .item-reviews {
    margin-top: 0;
    padding: 119px 90px 98px 145px;
    text-align: left;
  }

  .item-reviews__image {
    position: absolute;
    top: 55px;
    left: 199px;
    width: 481px;
    height: 332px;
    margin: 0;
  }

  .item-reviews__content {
    margin-bottom: 40px;
    padding: 0;
  }

  .item-reviews__footer {
    left: 0;
    justify-content: flex-start;
  }

  .item-reviews__arrow-prev,
  .item-reviews__arrow-next {
    top: 204px;
    left: auto;
    width: 15px;
    height: 31px;
  }

  .item-reviews__arrow-prev {
    left: 90px;
    background-image: url("../img/icon-arrow-prev.svg");
    transform: translateX(0);
  }

  .item-reviews__arrow-next {
    right: 90px;
    background-image: url("../img/icon-arrow-next.svg");
    transform: translateX(0);
  }
}
.footer {
  background-color: #151313;
}

.footer__container {
  padding-top: 36px;
  padding-bottom: 35px;
  text-align: center;
}

.footer__address {
  display: block;
  margin-bottom: 11px;
  font-weight: 400;
  color: #d6ccc2;
  transition: 0.5s;
}
.footer__address:hover {
  color: #a07b50;
}

.footer__phone {
  display: block;
  margin-bottom: 20px;
  font-weight: 400;
  color: #fdf2e6;
  transition: 0.5s;
}
.footer__phone:hover {
  color: #a07b50;
}

.footer__social {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    padding: 37px 47px 35px 53px;
    font-size: 14px;
  }

  .footer__address {
    margin: 0 auto;
    transform: translateX(24px);
  }

  .footer__phone {
    margin-bottom: 0;
    font-weight: 700;
  }

  .footer__social {
    order: -1;
    margin-top: 5px;
    margin-bottom: 0;
  }

  .footer__logo {
    display: none;
  }
}
@media (min-width: 768px) {
  .footer__container {
    align-items: center;
    padding: 67px 273px 60px 243px;
  }

  .footer__address {
    order: 1;
    margin: 0;
    margin-right: auto;
  }

  .footer__phone {
    order: 2;
  }

  .footer__social {
    order: 0;
    margin-right: 129px;
  }

  .footer__logo {
    display: block;
    order: -1;
    margin: 0;
    margin-right: 119px;
  }
}
