body {
	position: relative;
	margin: 0;
	padding: 0;

	font-size: 18px;
	font-family: "Roboto", "Arial", sans-serif;
	line-height: 30px;
	letter-spacing: 0.2px;
	color: #8492af;
}

a {
	display: inline-block;

	line-height: 18px;
	color: #ffffff;
	text-decoration: none;
}

h1,
h2 {
	margin: 0;

	font-weight: 200;
	font-size: 60px;
	text-align: center;
	color: #ffffff;
}

.layout-positioner {
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;

	width: 1470px;
}

.button {
	display: inline-block;

	vertical-align: middle;
	text-align: center;

	border-radius: 24px;
}

.visually-hidden {
	position: absolute;
	margin: -1px;
	padding: 0;

	width: 1px;
	height: 1px;

  	border: 0;

  	clip: rect(0 0 0 0);
}

.site-header {
	position: absolute;
	top: 0;
	z-index: 1;

	display: flex;
	width: 100%;
	padding: 65px 160px;
	justify-content: space-between;
	box-sizing: border-box;
}

.main-menu {
	margin: 0;
	padding: 0;
	padding-left: 100px;

	display: flex;

	list-style: none;
}

.main-menu-item a {
	padding: 24px;
}

.main-menu-item a:hover {
	text-decoration: underline;
}

.main-menu .login {
	display: flex;
	align-items: center;
}

.login .button {
	padding: 15px 40px;

	color: #5584ff;

	border: 1px solid rgba(85, 132, 255, 0.3);

	transition-duration: 0.5s;
}

.login .button:hover {
	text-decoration: none;

	border: 1px solid rgba(85, 132, 255, 1.0);
}

.first-screen {
	position: relative;
	padding-top: 1px;
	padding-bottom: 580px;

	background-image: url(../img/bg.png);
	background-repeat: no-repeat;
	background-position: center;
}

.first-screen .layout-positioner {
	text-align: center;
}


.first-screen h1 {
	margin-top: 280px;
	margin-bottom: 38px;
}

.first-screen p {
	margin: 0;
	margin-bottom: 90px;

	font-size: 36px;
	text-align: center;
	color: #8492af;
}

.first-screen .button {
	position: relative;
	margin: 0 auto;
	padding: 15px 56px;

	font-weight: bold;
	color: #ffffff;
	
	background-color: #5584ff;

	transition-duration: 0.5s;
}

.first-screen .button:hover {
	background-color: #1f57ea;
}

.first-screen img {
	position: absolute;
	bottom: -130px;
	left: 50%;

	margin-left: -512px;
}

.second-screen {
	padding-top: 1px;

	background-color: #ffffff;
}

.second-screen .features-list {
	margin: 0;
	margin-top: 260px;
	padding: 0;

	display: flex;
	justify-content: space-between;

	list-style: none;
}

.second-screen .features-item {
	position: relative;
	padding: 135px 60px	0;

	max-width: 470px;

	text-align: center;
}

.features-item h3 {
	margin: 0;
	padding: 0;
	margin-bottom: 20px;

	font-weight: bold;
	font-size: 24px;
	color: #0e1a35;
}

.features-item p {
	margin: 0;
	margin-bottom: 45px;
}

.features-item .button {
	padding: 15px 85px;
	
	font-weight: bold;
	color: #0e1a35;

	border: 1px solid rgba(85, 132, 255, 0.3);

	transition-duration: 0.5s;
}

.features-item .button:hover {
	border: 1px solid rgba(85, 132, 255, 1)
}

.second-screen .features-item::before {
	content: "";

	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -40px;


	display: block;

	background-repeat: no-repeat;
	background-position: center;
}

.second-screen .features-item:nth-child(1)::before {
	left: 50%;
	margin-left: -40px;

	width: 80px;
	height: 76px;

	background-image: url("../img/icon-1.png");
}

.second-screen .features-item:nth-child(2)::before {
	left: 50%;
	margin-left: -44px;

	width: 92px;
	height: 88px;

	background-image: url("../img/icon-2.png");
}

.second-screen .features-item:nth-child(3)::before {
	left: 50%;
	margin-left: -40px;

	width: 80px;
	height: 80px;

	background-image: url("../img/icon-3.png");
}

.second-screen .features-item::after {
	content: "";

	position: absolute;
	right: -110px;
	top: 35px;
	z-index: 1;

	display: block;
	width: 220px;
	height: 1px;

	background-color: rgba(85, 132, 255, 0.3);
}

.second-screen .features-item:nth-child(3)::after {
	height: 0px;
}

.third-screen {
	position: relative;
	padding-top: 1px;

	background-image: linear-gradient(#ffffff 0%, #f6f7fa 25%);

	overflow: hidden;
}

.third-screen h2 {
	margin-top: 306px;
	margin-bottom: 60px;
	
	text-align: left;
	color: #0e1a35;
}

.third-screen img {
	position: absolute;
	top: 220px;
	right: 0px;
	margin-right: -210px;
}

.third-screen p {
	margin-bottom: 30px;
	width: 600px;
}

.third-screen p:last-of-type {
	margin-bottom: 55px;
}

.third-screen ul {
	margin: 0;
	margin-bottom: 280px;
	padding: 0;

	list-style: none;
}

.third-screen li {
	position: relative;
	margin: 0;
	margin-bottom: 30px;
	padding-left: 45px;

	font-size: 22px;
	vertical-align: middle;
	color: #5584ff;
}

.third-screen li::before {
	content: "";

	position: absolute;
	left: 0;

	display: block;
	width: 28px;
	height: 28px;

	background-image: url("../img/checked.png");
}

.fourth-screen {
	position: relative;
	padding-top: 1px;

	height: 750px;

	background-image: url("../img/bg.png");
	background-position: center;
	background-size: cover;
}

.fourth-screen .layout-positioner {
	display: flex;
}

.layout-right {
	margin-left: auto;

	min-width: 575px;
}

.fourth-screen h2 {
	margin-top: 225px;
	margin-bottom: 60px;

	text-align: left;
}

.fourth-screen img {
	position: absolute;
	top: 100px;
	left: -130px;
}

.fourth-screen p {
	margin: 0;
	margin-bottom: 30px;
	padding: 0;

	width: 540px;
}

.fourth-screen p:last-of-type{
	margin-bottom: 50px;
}

.fourth-screen .left,
.fourth-screen .right {
	padding: 0;
	margin: 0;

	font-size: 0px;

	background: none;
	border: none;
}

.fourth-screen .left::before {
	content: "";
	margin-right: 20px;

	display: block;
	width: 35px;
	height: 35px;

	background-image: url("../img/left.png");
	background-position: center;
	background-repeat: no-repeat;

	transition-duration: 0.5s;
}

.fourth-screen .left:hover::before {
	opacity: 0.5;
}

.fourth-screen .right::before {
	content: "";

	display: block;
	width: 35px;
	height: 35px;

	background-image: url("../img/right.png");
	background-position: center;
	background-repeat: no-repeat;

	transition-duration: 0.5s;
}

.fourth-screen .right:hover::before {
	opacity: 0.5;
}

.fifth-screen {
	position: relative;
	padding-top: 1px;

	background-color: #f6f7fa;
}

.fifth-screen h2 {
	margin-top: 110px;
	margin-bottom: 60px;

	color: #0e1a35;
}

.fifth-screen p {
	margin: 0;
	margin-bottom: 85px;

	text-align: center;
}

.fifth-screen img {
	margin: 0 auto;

	display: block;
}

.fifth-screen ul {
	margin: 0;
	padding: 0;

	list-style: none;
}

.fifth-screen li {
	position: absolute;

	display: flex;
    flex-direction: column;
}

.fifth-screen li:first-child {
	top: 425px;
	left: 100px;

	align-items: flex-start;

	text-align: left;
}

.fifth-screen li:last-child {
	top: 720px;
	right: 95px;

    align-items: flex-end;

    text-align: right;
}

.fifth-screen li:last-child .hr {
	transform: rotate(180deg);
}

.fifth-screen h3 {
	margin: 0;
	margin-bottom: 35px;

	font-size: 24px;
	font-weight: bold;
	color: #0e1a35;
}

.fifth-screen li p {
	margin: 0;

	width: 250px;

	text-align: inherit;
}

.fifth-screen .hr {
	position: relative;
	bottom: 20px;

	width: 645px;
	height: 2px;

	background-color: #5584ff;
}

.fifth-screen .hr::before {
	content: "";

	position: absolute;
	right: -23px;
	bottom: -23px;

	display: block;
	width: 46px;
	height: 46px;

	background-color: rgba(85, 132, 255, 0.6);
	border-radius: 50%;
}

.fifth-screen .hr::after {
	content: "";

	position: absolute;
	right: -15px;
	bottom: -15px;

	display: block;
	width: 30px;
	height: 30px;

	background-color: #5584ff;
	border-radius: 50%;
}


.sixth-screen {
	padding-top: 1px;
	padding-bottom: 1px;

	background-image: linear-gradient(#f6f7fa 0%, #ffffff 10%);
}

.sixth-screen .layout-positioner {
	text-align: center;
}

.sixth-screen h2 {
	margin: 0;
	margin-top: 130px;
	margin-bottom: 110px;
	padding: 0;

	font-weight: 200;
	font-size: 60px;
	color: #0e1a35;
	text-align: center;
}

.sixth-screen .price-list {
	margin: 0;
	margin-bottom: 100px;
	padding: 0;

	display: flex;
	justify-content: space-between;
	
	list-style: none;
}

.sixth-screen .price-list > li {
	margin-left: 55px;
	margin-right: 55px;
	padding: 45px 50px 30px;

	width: 360px;
	box-sizing: border-box;

	background-color: #ffffff;
	box-shadow: 1px 1px 60px 1px rgba(14, 26, 53, 0.15);
}

.sixth-screen .price-list h3 {
	margin: 0;
	margin-bottom: 60px;

	font-size: 24px;
	font-weight: normal;
	text-align: center;
	color: #0e1a35;
}

.sixth-screen .price-list p {
	margin: 0;
	margin-bottom: 45px;
	padding-left: 10px;

	font-size: 24px;
	text-align: center;
	color: #8492af;
}

.sixth-screen .price-list .dollar {
	font-size: 40px;
	font-weight: bold;
	color: #0e1a35;
}

.sixth-screen .price-list .price {
	font-size: 72px;
	font-weight: bold;
	color: #0e1a35;
}

.sixth-screen .price-item ul {
	margin: 0;
	padding: 0;

	list-style: none;
}

.sixth-screen .price-item li {
	position: relative;
	margin-bottom: 12px;
	padding-left: 40px;
}

.sixth-screen .price-item li::before {
	content: "";

	position: absolute;
	top: 3px;
	left: 3px;

	display: block;
	width: 24px;
	height: 24px;

	background-image: url(../img/checked-1.png);
	background-repeat: no-repeat;
	background-position: center;
}

.sixth-screen .price-item:nth-child(1) li:nth-child(n+3):before {
	background-image: url(../img/no-checked.png);
}

.sixth-screen .price-item:nth-child(2) li:nth-child(n+4):before {
	background-image: url(../img/no-checked.png);
}

.sixth-screen .layout-positioner > p {
	margin: 0 auto;
	margin-bottom: 65px;

	width: 900px;

	text-align: center;
}

.sixth-screen .button {
	position: relative;
	margin-bottom: 100px;
	padding: 15px 60px;

	font-weight: bold;
	color: #ffffff;

	background-color: #5584ff;

	transition-duration: 0.5s;
}

.sixth-screen .button:hover {
	background-color: #1f57ea;
}

.sixth-screen .button::before {
	content: "";

	position: absolute;
	top: 24px;
    left: -256px;

    display: block;
    height: 1px;
    width: 226px;

    background: rgba(132, 146, 175, 0.3);
}

.sixth-screen .button::after {
	content: "";

	position: absolute;
	top: 24px;
    right: -256px;

    display: block;
    width: 226px;
    height: 1px;

    background: rgba(132, 146, 175, 0.3);
}

.site-footer {
	padding: 62px 0;

	background-color: #0e1a35;
}

.site-footer .layout-positioner {
	display: flex;
}

.site-footer p {
	margin: 0;
	margin-right: auto;
}

.site-footer ul {
	margin: 0;
	padding: 0;

	display: flex;

	list-style: none;
}

.site-footer li {
	margin: 0;
	padding: 0;
}

.site-footer .footer-left {
	display:flex;
}

.site-footer a {
	margin-right: 45px;

	color: #8492af;

	transition-duration: 0.5s;
}

.site-footer a:hover {
	text-decoration: underline;
}

.social-list li a {
	position: relative;
	margin-right: 16px;
	padding: 0;

	width: 18px;
	height: 18px;

	font-size: 0;
	vertical-align: top;
}

.social-list li a:hover::before {
	opacity: 0.5;
}

.social-list li:last-child {
	margin-right: 0px;
}

.social-list li a::before {
	content: "";

	position: absolute;
	top: 5px;

	display: block;
	width: 18px;
	height: 18px;

	background-repeat: no-repeat;
	background-position: center;

	transition-duration: 0.5s;
}

.social-list li:nth-child(1) a::before {
	background-image: url("../img/facebook.png");
}

.social-list li:nth-child(2) a::before {
	background-image: url("../img/twitter.png");
}

.social-list li:nth-child(3) a::before {
	background-image: url("../img/google.png");
}







